.App {
  text-align: center;
}

.shown {
	display: block;
	animation: openModal .3s ease-out;
}

.hidden {
	display: none;
}

@keyframes openModal {
	0% {
		opacity: 0;
		transform: translateY(-100px);
	}
	50% {
		opacity: 0.5;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}